# Theme
remote_theme: "mmistakes/minimal-mistakes@4.27.3"
minimal_mistakes_skin: "default"

# Site Settings
locale: "ko-KR"
title: "godsman-yang"
title_separator: "-"
subtitle: "Development, Network, Security"
name: "godsman"
description: "Development, Network, Security and Soccer, Table Tennis"
url: "https://godsman-yang.github.io"
baseurl: ""
repository: "godsman-yang/godsman-yang.github.io"

# Site Author
author:
  name: "godsman"
  # avatar: "/assets/images/bio-photo.jpg"  # 프로필 이미지 추가 시 주석 해제
  bio: "network security, cloud service platform, business process management"
  location: "Korea"
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/godsman-yang"

# Reading Files
include:
  - _pages

# Outputting
permalink: /:title/
paginate: 10
paginate_path: /page:num/
timezone: Asia/Seoul
future: true

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
